.detailsContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;    
}
.col{
    max-width: 400px;
    height: auto;
    height: 80%;
    margin: 15px;    
}
.movieImage{
    border-radius: 50px;
}

.movieTexts{
     
    font-size: 1.5rem;
    margin-top: 0px;
}
